@font-face {
    font-family: airstream;
    src: url(fonts/Airstream-webfont.svg);
    src: url(fonts/Airstream-webfont.woff);
}

@font-face {
    font-family: lakeshor;
    src: url(fonts/LAKESHOR-webfont.svg);
    src: url(fonts/LAKESHOR-webfont.woff);
}

html {
    height: 100%;
}

body {
    --thumbnails-image-width: 20vw;
    --thumbnails-image-height: 12vw;
    --thumbnails-title-height: calc(var(--thumbnails-image-height)*0.33);
    --details-image-width: 70vw;
    --details-image-height: 40vw;
}

body {
    height: 100%;
    background-color: rgba(43, 238, 25, 0.185);
    display: flex;
    flex-direction: column;
    margin: 0;
}

.logo {
    display: block;
    text-align: center;
    background-color: rgb(253, 253, 47);
    font-size: 5 em;
    text-transform: uppercase;
    font-family: lakeshor;
}

.main-class {
    display: flex;
    flex-direction: column;
}

.details-container {
    display: flex;
    flex-direction: column;
}

.details-image {
    width: var(--details-image-width);
    height: var(--details-image-height);
    border-radius: 25%;
}

.details-title {
    bottom: 6vh;
    left: -2vw;
    display: block;
    text-align: center;
    background-color: brown;
}

.thumbnails-list {
    display: flex;
    flex-wrap: wrap;
    max-height: 50%;
    overflow-y: scroll;
    list-style: none;
    justify-content: space-around;
    padding-left: 0;
}

.thumbnails-item {
    border: solid 3px blue;
    margin-top: 15vw;
    border-radius: 25%;
    overflow: hidden;
    min-height: calc(var(--thumbnails-image-height) + var(--thumbnails-title-height));
    min-width: var(--thumbnails-image-width);
}

.thumbnails-ancor {
    text-decoration: none;
}

.thumbnails-image {
    width: var(--thumbnails-image-width);
    height: var(--thumbnails-image-height);
}

.thumbnails-title {
    display: block;
    text-align: center;
    background-color: rgb(57, 167, 218);
    /*height: 5vw;*/
    height: var(--thumbnails-title-height);
}

@media (min-width: 560px) {
    body {
        --thumbnails-image-width: 20vw;
        --thumbnails-image-height: 12vw;
        --thumbnails-title-height: calc(var(--thumbnails-image-height)*0.25);
        --details-image-width: 50vw;
        --details-image-height: 30vw;
    }

    .main-class {
        flex-direction: row;
        justify-content: space-around;
    }

    .thumbnails-list {
        order: -1;
        flex-direction: column;
        flex-wrap: nowrap;
        max-height: 70vh;
        justify-content: flex-start;
    }

    .thumbnails-item {
        /*  min-height: 15vw;*/
        margin-top: 1vw;
    }

    /*.thumbnails-title{
    height: 3vw;
  }*/
    .logo {
        display: inline-block;
    }

    .details-container {
        display: block;
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width: 1000px) {
    body {

        --details-image-width: 75vw;
        --details-image-height: 58vw;
    }

    .thumbnails-list {
        max-height: 90vh;
    }

    .details-title {
        min-height: 5vw;
    }
}