@font-face{
    font-family:airstream ;
    src:url(fonts/);
    src:url()
}
@font-face{
    font-family: lakeshor;
    src: url(fonts/)
}
    html {
    height: 100%;
}
body {
    height: 100% ;
    background-color: black;
    display: flex;
    flex-direction: column;
}
.logo {
    display: block;
    text-align: center;
    background-color: rgb(253, 253, 47);
    font-size: 5 em;
    text-transform: uppercase;
    text-decoration-color: aliceblue;
    font-family: lakeshor;
}

.main-class {
    display: flex;
    flex-direction: column ;  
   
}
.details-container{
    display: flex;
    flex-direction: column;
}
.details-image{
    width:98vw;
    height: 50vw;
}
.details-title{
    display: block;
   
    text-align: center;
    background-color: brown;
}
.thumbnails-list{
   display: flex; 
   flex-wrap: wrap;
   max-height: 100%;
   overflow-y: scroll;
    list-style: none;
    justify-content: space-around;
    padding-left: 0;
   
}
.thumbnails-item{
border: solid 3px blue;
margin-top: 15vw;
border-radius: 25%;
overflow: hidden;
}
.thumbnails-ancor{

}
.thumbnails-image {
width: 30vw;
height: 20vw;
}
.thumbnails-title{
    display: block;
    text-align: center;
    background-color: rgb(57, 167, 218);
}