.board-class{
    display:flex;
    flex-direction: column;
}
.row-class{
    display: flex;
    flex-direction: row ;
}
.rowEven-class{
    display: flex;
    flex-direction: row-reverse;
}

.set-class{
    display: flex;
    flex-direction: row;
}
.cell-class{
    display: block;
    width:12.5vw;
    height:12.5vw;
    border: solid 1px black
}
.cellBlack-class{
    display: block;
    width: 12.5vw;
    height:12.5vw;
    border: solid 1px black
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
html{
    height: 100%
}