 
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial;
  }

.tablink-caption{
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 100%/arraySheets.length;
  }
  .tablink-caption:hover {
        background-color: #777;
      }

/*.form-sec{
    color: white;
    display: none;
    padding: 100px 20px;
    height: 100%;
}
.table-sec{
    color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
}